### Telegram Bot API
bot_uid = "put bot token here"
api_id = "put telegram api id here"
api_hash = "put telegram api hash here"

### Telegram channel
channel_title = "put channel title in Telegram here"

### Google data
google_token_filename = "name of the json file with token for google app"
google_table_title = "Title of the google table"
google_employees = "title of the page with employee data"
google_congrats = "title of the page with the congratulations"
